<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('header') %>

    <script>
        window.onload = function(){
            var socket = io(); //connect to server

            // Configuration variables
            var numberElements = 200;

            // Globals
            var updateCount = 0;

            // chart objects
            var HeartRateChart = document.getElementById('HeartRateChart').getContext('2d');
            var RespiratoryChart = document.getElementById('RespiratoryRateChart').getContext('2d');

            // config for the chart
            var config = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 70
                        }
                    }],
                    xAxes: [{ // hide the x-axes since we dont really need em
                        ticks: {
                            display: false
                        }
                    }]
                },
                legend: {display: false},
                tooltips: {
                    enabled: false
                }
            }

            // create a new for the heart rate chart
            var heartChart = new Chart(HeartRateChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Heart Rate Live Chart",
                        fontSize: 22
                    }
                })
            });

            var respiratoryChart = new Chart(RespiratoryChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Respiratory Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Respiratory Rate Live Chart",
                        fontSize: 22
                    }
                })
            });
        
            // update the chart from the data collected through the serial
            socket.on('rate', function(data){
                console.log(data.rate); // log data on console

                heartChart.data.labels.push(data.time);
                heartChart.data.datasets.forEach((dataset) => {dataset.data.push(data.rate)});
                
                // scroll the graph
                if(updateCount > numberElements){
                    heartChart.data.labels.shift();
                    heartChart.data.datasets[0].data.shift();
                } else { updateCount++; }

                heartChart.update(); // Update the graph.
            });

            // disables the user from pressing enter on form input
            $('form input').keydown(function(event){
                if(event.keyCode == 13) {
                event.preventDefault();
                    return false;
                }
            });

            // on click listener for the start button
            document.getElementById('start_btn').addEventListener("click", function(){
                var inpt = document.getElementById('age_input'); // get the value from the user
                socket.emit('user_age_input', inpt.value.toString() + ',fitnessMode'); // send the data to server
                inpt.value = ""; // clears the text box
                inpt.disabled = true; // disables the text input area for the age
                document.getElementById('start_btn').style.visibility = 'hidden'; // hides the start button
                document.getElementById('end_btn').style.visibility = 'visible'; // makes the end button visible
            });

            // on click listener for the end button
            document.getElementById('end_btn').addEventListener("click", function(){
                document.getElementById('age_input').disabled = false; // re enable the text area
                document.getElementById('start_btn').style.visibility = 'visible'; // make the start button visible again
                socket.emit('user_age_input', '0,endMode'); // send data to the server to stop the progarm that is running
                document.getElementById('end_btn').style.visibility = 'hidden'; // hide the end button again
            });
        }

    </script>
</head>

<body>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card" style="border: none">
                    <h4>Fitness Mode</h4>
                    <p>Welcome to the fitness mode, 
                    this mode is designed to monitor your heart and respiratory rates and
                    give you what cardio zone you are in as feedback (see Fig 1 for details).
                    To begin please enter your age below and click the start button. </p>
                </div>
                <form class="form-inline justify-content-center" id="form input">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="number" min="1" step="1" id="age_input" placeholder="please enter your age" required>
                    </div>
                    <input id="start_btn" type="button" class="btn btn-primary mb-2" value="Start"></input>
                    <input id="end_btn" type="button" class="btn btn-danger mb-2" style="visibility: hidden" value="End"></input>
                </form>
            </div>
            <div class="col-lg-7">
                <figure class="figure">
                    <img src="/images/cardiozone.jpg" class="img-fluid">
                    <figcaption class="figure-caption"><em>Fig 1: Heart rate zone as a percentage of the user's maximum heart rate.</em></figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Heart Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="HeartRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Respiratory Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="RespiratoryRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><br/>
</body>

</html>