<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('header') %>

    <script>
        window.onload = function(){
            var socket = io(); //connect to server

            // Configuration variables
            var numberElements = 200;

            // Globals
            var updateCount = 0;

            // chart objects
            var HeartRateChart = document.getElementById('HeartRateChart').getContext('2d');
            var RespiratoryChart = document.getElementById('RespiratoryRateChart').getContext('2d');

            // config for the chart
            var config = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 70
                        }
                    }],
                    xAxes: [{ // hide the x-axes since we dont really need em
                        ticks: {
                            display: false
                        }
                    }]
                },
                legend: {display: false},
                tooltips: {
                    enabled: false
                }
            }

            // create a new for the heart rate chart
            var heartChart = new Chart(HeartRateChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Heart Rate Live Chart",
                        fontSize: 22
                    }
                })
            });

            var respiratoryChart = new Chart(RespiratoryChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Respiratory Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Respiratory Rate Live Chart",
                        fontSize: 22
                    }
                })
            });
        
            // update the chart from the data collected through the serial
            socket.on('rate', function(data){
                console.log(data.rate); // log data on console

                heartChart.data.labels.push(data.time);
                heartChart.data.datasets.forEach((dataset) => {dataset.data.push(data.rate)});
                
                // scroll the graph
                if(updateCount > numberElements){
                    heartChart.data.labels.shift();
                    heartChart.data.datasets[0].data.shift();
                } else { updateCount++; }

                heartChart.update(); // Update the graph.
            });

            // disables the user from pressing enter on form input
            $('form input').keydown(function(event){
                if(event.keyCode == 13) {
                event.preventDefault();
                    return false;
                }
            });

            // 
            document.getElementById('submit_btn').addEventListener("click", function(){
                var val = document.getElementById('age_input').value; // get the value from the user
                socket.emit('user_age_input', val.toString() + ',fitnessMode'); // send the data to server
                document.getElementById('age_input').value = ""; // clears the text box
            });
        }

    </script>
</head>

<body>
    <br/>
    <div class="container">
        <form class="form-inline justify-content-center" id="form input">
            <div class="form-group mx-sm-3 mb-2">
                <input type="number" min="1" step="1" id="age_input" placeholder="please enter your age" required>
            </div>
            <input id="submit_btn" type="button" class="btn btn-primary mb-2" value="Start"></input>
        </form>
    </div></br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Heart Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="HeartRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Respiratory Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="RespiratoryRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>