<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('header') %>

    <script>
        window.onload = function(){
            var socket = io(); //connect to server

            // Configuration variables
            var numberElements = 200;

            // Globals
            var updateCount = 0;

            // chart objects
            var HeartRateChart = document.getElementById('HeartRateChart').getContext('2d');
            var RespiratoryChart = document.getElementById('RespiratoryRateChart').getContext('2d');

            // config for the chart
            var config = {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true,
                            suggestedMax: 70
                        }
                    }]
                },
                legend: {display: false},
                tooltips: {
                    enabled: false
                }
            }

            // create a new for the heart rate chart
            var heartChart = new Chart(HeartRateChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Heart Rate Live Chart",
                        fontSize: 22
                    }, scales: { // this hides the x-axis since we don't really need it
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    }
                })
            });

            var respiratoryChart = new Chart(RespiratoryChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Respiratory Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Respiratory Rate Live Chart",
                        fontSize: 22
                    }, scales: { // this hides the x-axis since we don't really need it
                        xAxes: [{
                            ticks: {
                                display: false
                            }
                        }]
                    } 
                })
            });
        
            // update the chart from the data collected through the serial
            socket.on('rate', function(data){
                console.log(data.rate); // log data on console

                heartChart.data.labels.push(data.time);
                heartChart.data.datasets.forEach((dataset) => {dataset.data.push(data.rate)});
                
                // scroll the graph
                if(updateCount > numberElements){
                    heartChart.data.labels.shift();
                    heartChart.data.datasets[0].data.shift();
                } else { updateCount++; }

                heartChart.update(); // Update the graph.
            });
        }

    </script>
</head>

<body>
    <br/>
    <div class="container">
        <form class="form-inline justify-content-center">
            <div class="form-group mx-sm-3 mb-2">
                <label for="age_input" class="sr-only">Age</label>
                <input type="number" min="1" step="1" class="form-control" id="age_input" placeholder="please enter your age" required>
                <div class="invalid-feedback">Please enter your password to continue.</div>
            </div>
            <button id="submit_btn" type="submit" class="btn btn-primary mb-2">Start</button>
        </form>
    </div></br>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Heart Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="HeartRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center;">Respiratory Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="RespiratoryRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>