<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('header') %>

    <script>
        window.onload = function(){
            var socket = io(); //connect to server

            // Configuration variables
            var numberElements = 200;
            var maxAge = 0;
            var zone = 0;

            // Globals
            var updateCount = 0;

            // chart objects
            var HeartRateChart = document.getElementById('HeartRateChart').getContext('2d');
            var RespiratoryChart = document.getElementById('RespiratoryRateChart').getContext('2d');

            // config for the chart
            var config = {
                legend: {display: false},
                tooltips: {
                    enabled: false
                }
            }

            // create a new for the heart rate chart
            var heartChart = new Chart(HeartRateChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Heart Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Heart Rate Live Chart",
                        fontSize: 22
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMax: 1000,
                                suggestedMin: 300
                            }
                        }],
                        xAxes: [{ // hide the x-axes since we dont really need em
                            ticks: {
                                display: false
                            }
                        }]
                    }
                })
            });

            var respiratoryChart = new Chart(RespiratoryChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Respiratory Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Respiratory Rate Live Chart",
                        fontSize: 22
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 380,
                                suggestedMax: 400
                            }
                        }],
                        xAxes: [{ // hide the x-axes since we dont really need em
                            ticks: {
                                display: false
                            }
                        }]
                    }
                })
            });
        
            // update the heart chart from the data collected through the serial
            socket.on('rate', function(data){
                //console.log(data.rate); // log data on console

                document.getElementById('bpm').innerHTML = data.bpm; // update the bpm placeholder
                document.getElementById('inhale').innerHTML = data.inhale / 1000;
                document.getElementById('exhale').innerHTML = data.exhale / 1000;
                document.getElementById('rr').innerHTML = parseInt( ((data.exhale + data.inhale) / 1000) / 10 );

                zone = (data.bpm / maxAge) * 100;
                if(zone > 50 && zone < 60){ // change color of the text
                    document.getElementById('bpm').style.color = "red";
                } else if ( zone > 60 && zone < 70){
                    document.getElementById('bpm').style.color = "blue";
                } else if ( zone > 70 && zone < 80){
                    document.getElementById('bpm').style.color = "green";
                } else if ( zone > 80 && zone < 90){
                    document.getElementById('bpm').style.color = "orange";
                } else if (zone > 90){
                    document.getElementById('bpm').style.color = "red";
                } else {
                    document.getElementById('bpm').style.color = "black";
                }

                heartChart.data.labels.push(data.time);
                heartChart.data.datasets.forEach((dataset) => {dataset.data.push(data.rate)});
                
                respiratoryChart.data.labels.push(data.time);
                respiratoryChart.data.datasets.forEach((dataset) => {dataset.data.push(data.resp)});

                // scroll the graph
                if(updateCount > numberElements){
                    heartChart.data.labels.shift();
                    heartChart.data.datasets[0].data.shift();

                    respiratoryChart.data.labels.shift();
                    respiratoryChart.data.datasets[0].data.shift();

                } else { updateCount++; }

                heartChart.update(); // Update the graph.
                respiratoryChart.update();
            });

            // disables the user from pressing enter on form input
            $('form input').keydown(function(event){
                if(event.keyCode == 13) {
                event.preventDefault();
                    return false;
                }
            });

            // on click listener for the start button
            document.getElementById('start_btn').addEventListener("click", function(){
                var inpt = document.getElementById('age_input'); // get the value from the user
                socket.emit('user_age_input', 'fit'); // send the data to server
                maxAge = 220 - inpt.value; // sets the max age
                inpt.value = ""; // clears the text box
                inpt.disabled = true; // disables the text input area for the age
                document.getElementById('start_btn').style.visibility = 'hidden'; // hides the start button
                document.getElementById('end_btn').style.visibility = 'visible'; // makes the end button visible
            });

            // on click listener for the end button
            document.getElementById('end_btn').addEventListener("click", function(){
                document.getElementById('age_input').disabled = false; // re enable the text area
                document.getElementById('start_btn').style.visibility = 'visible'; // make the start button visible again
                socket.emit('user_age_input', 'end'); // send data to the server to stop the progarm that is running
                document.getElementById('end_btn').style.visibility = 'hidden'; // hide the end button again
            });

        }

    </script>
</head>

<body>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card" style="border: none">
                    <h4>Fitness Mode</h4>
                    <p>Welcome to the fitness mode, 
                    this mode is designed to monitor your heart and respiratory rates and
                    gives you the cardio zone you are in as feedback (see Fig 1 for details).
                    This mode starts off by taking your resting heart rate in the first 30 seconds
                    so please stop doing any physical activity to ensure maximum accuracy. 
                    To begin please enter your age below and click the start button. </p>
                </div>
                <form class="form-inline justify-content-center" id="form input">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="number" min="1" step="1" id="age_input" placeholder="please enter your age" required>
                    </div>
                    <input id="start_btn" type="button" class="btn btn-primary mb-2" value="Start"></input>
                    <input id="end_btn" type="button" class="btn btn-danger mb-2" style="visibility: hidden" value="End"></input>
                </form>
            </div>
            <div class="col-lg-7">
                <figure class="figure" style="text-align: center">
                    <img src="/images/cardiozone.jpg" class="img-fluid">
                    <figcaption class="figure-caption"><em>Fig 1: Heart rate zone as a percentage of the user's maximum heart rate.</em></figcaption>
                </figure>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center; font-size: 45px" id="bpm">0</h4>
                    <h4 style="text-align: center;">Heart Rate (BPM)</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="HeartRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <div class="container">
        <div class="row" style="justify-content: center">
            <div class="col-md-2" style="text-align: center">
                <div class="box" style="background-color: gray"></div>
                <label style="font-size: 20px"><span id="z_1_min">00</span>:<span id="z_1_sec">00</span></label>
            </div>
            <div class="col-md-2" style="text-align: center">
                <div class="box" style="background-color: blue"></div>
                <label style="font-size: 20px"><span id="z_2_min">00</span>:<span id="z_2_sec">00</span></label>
            </div>
            <div class="col-md-2" style="text-align: center">
                <div class="box" style="background-color: green"></div>
                <label style="font-size: 20px"><span id="z_3_min">00</span>:<span id="z_3_sec">00</span></label>
            </div>
            <div class="col-md-2" style="text-align: center">
                <div class="box" style="background-color: orange"></div>
                <label style="font-size: 20px"><span id="z_4_min">00</span>:<span id="z_4_sec">00</span></label>
            </div>
            <div class="col-md-2" style="text-align: center">
                <div class="box" style="background-color: red"></div>
                <label style="font-size: 20px"><span id="z_5_min">00</span>:<span id="z_5_sec">00</span></label>
            </div>
        </div>
    </div><br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center; font-size: 45px" id="rr">0</h4>
                    <h4 style="text-align: center;">Respiratory Rate</h4>
                    <label>In: <h4 style="text-align: center; font-size: 30px" id="inhale">0</h4></label>
                    <label>Ex: <h4 style="text-align: center; font-size: 30px" id="exhale">0</h4></label>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="RespiratoryRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><br/><br/>
</body>

</html>