<!DOCTYPE html>
<html>
    <head>
        <!-- add the header for file -->
        <a> <%- include('header') %> </a>
    </head>
    <body>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" >
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/images/bg_1.png" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/images/bg_2.png" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/images/bg_3.png" alt="Third slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row no-gutters">
        
                <div class="col-lg-12 order-lg-2 text-white"></div>
                    <div class="col-lg-12 order-lg-1 my-auto showcase-text" style="padding: 5%; padding-top: 3%" >
                        <h2 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif" >WELCOME TO OUR WEBSITE</h2><br/>
                        <p class="lead mb-0" style="text-align: center"> Have you ever needed a place to monitor your heart and respiratory rates?</p>
                        <p class="lead mb-0" style="text-align: center"> Do you have trouble managing stress? Do you struggle with successfully being able to meditate?</p><br/>
                        <h2 style="text-align: center; font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">This app is just for you!</h2>
                        <p class="lead mb-0" style="text-align: center"> with our app you can finally achieve everything you ever dreamed of plus more.</p>
                    </div>
                </div>
            </div>
        </section>
    
      <!-- Image Showcases -->
      <section class="showcase">
        <div class="container-fluid p-0">
          <div class="row no-gutters">
    
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Fitness Mode</h2>
              <p class="lead mb-0">Use our top of the line fitness mode to monitor your cardio levels. In this mode you will be able to see what your heart and respiratory rates are and see if you are in the right zone to maximize gains from your workout.</p>
              <br/>
              <a class="btn btn-primary" href="/fitnessMode" role="button">Try the Fitness Mode</a>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('images/bg-showcase-2.jpg');"></div>
            <div class="col-lg-6 my-auto showcase-text">
              <h2>Stress Monitoring Mode</h2>
              <p class="lead mb-0">Feeling stressed out lately? Use our stress monitoring mode to keep track of your stress levels and learn how to manage your stress.</p>
              <br/>
              <a class="btn btn-primary" href="/stressMonitoringMode" role="button">Try the Stress Monitoring Mode</a>
            </div>
          </div>
          <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('images/bg-showcase-3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
              <h2>Meditation Mode</h2>
              <p class="lead mb-0">Meditation has been shown to reduce daily stress and perceived stress. Meditating with our meditation mode will keep you stress free and help you improve yourself for the better.</p>
              <br/>
              <a class="btn btn-primary" href="/meditationMode" role="button">Try the Meditation Mode</a>
            </div>
          </div>
        </div>
      </section>
    
      <!-- Testimonials -->
      <section class="testimonials text-center bg-light">
        <div class="container">
          <h2 class="mb-5">What people are saying...</h2>
          <div class="row">
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/images/testimonials-1.jpg" alt="">
                <h5>Margaret E.</h5>
                <p class="font-weight-light mb-0">"I use this all the time! Thanks so much guys!"</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/images/testimonials-2.jpg" alt="">
                <h5>Joseph Hummel</h5>
                <p class="font-weight-light mb-0">"Lol."</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                <img class="img-fluid rounded-circle mb-3" src="/images/testimonials-3.jpg" alt="">
                <h5>Sarah W.</h5>
                <p class="font-weight-light mb-0">"This is app is absolutely amazing, I recommended it to all of my friends."</p>
              </div>
            </div>
          </div>
        </div>
      </section>

        <script>
            $('.carousel').carousel({
                interval: 5000
            })
        </script>
    </body>
</html>