<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <%- include('header') %>

    <script>
        window.onload = function(){
            var socket = io(); //connect to server

            // Configuration variables
            var numberElements = 200;

            // Globals
            var updateCount = 0;

            // chart objects
            var RespiratoryChart = document.getElementById('RespiratoryRateChart').getContext('2d');

            // config for the chart
            var config = {
                legend: {display: false},
                tooltips: {
                    enabled: false
                }
            }

            var respiratoryChart = new Chart(RespiratoryChart, {
                type: 'line',
                data: {
                    labels: [],
                    datasets: [{
                        label: "Respiratory Rate",
                        data: [],
                        fill: false,
                        borderColor: '#3498DB',
                        borderWidth: 2,
                        pointRadius: 0
                    }]
                },
                options: Object.assign({}, config, {
                    title:{
                        display: true,
                        text: "Respiratory Rate Live Chart",
                        fontSize: 22
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                suggestedMin: 380,
                                suggestedMax: 400
                            }
                        }],
                        xAxes: [{ // hide the x-axes since we dont really need em
                            ticks: {
                                display: false
                            }
                        }]
                    }
                })
            });
        
            // update the heart chart from the data collected through the serial
            socket.on('rate', function(data){
                //console.log(data.rate); // log data on console
                
                respiratoryChart.data.labels.push(data.time);
                respiratoryChart.data.datasets.forEach((dataset) => {dataset.data.push(data.resp)});

                // scroll the graph
                if(updateCount > numberElements){

                    respiratoryChart.data.labels.shift();
                    respiratoryChart.data.datasets[0].data.shift();

                } else { updateCount++; }

                // Update the graph.
                respiratoryChart.update();
            });

            // disables the user from pressing enter on form input
            $('form input').keydown(function(event){
                if(event.keyCode == 13) {
                event.preventDefault();
                    return false;
                }
            });

            // on click listener for the start button
            document.getElementById('start_btn').addEventListener("click", function(){
                socket.emit('user_age_input', 'l'); // send the data to server
                document.getElementById('start_btn').style.visibility = 'hidden'; // hides the start button
                document.getElementById('end_btn').style.visibility = 'visible'; // makes the end button visible
            });

            // on click listener for the end button
            document.getElementById('end_btn').addEventListener("click", function(){
                document.getElementById('start_btn').style.visibility = 'visible'; // make the start button visible again
                socket.emit('user_age_input', 'e'); // send data to the server to stop the progarm that is running
                document.getElementById('end_btn').style.visibility = 'hidden'; // hide the end button again
            });

        }

    </script>
</head>

<body>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="card" style="border: none">
                    <h4>Lung Capacity Mode</h4>
                    <p>Welcome to the Lung Capacity Mode, 
                       this mode is designed to help you to increase your lung capacity.
                       First place your hands on your hips with our thumbs facing front with 
                       your pinkies touching the small of your back. Then simply hit start and 
                       slowly breathe in as much as you can and a timer will begin to run 
                       for 20 seconds. After the timer ends exhale slowly, relax and repeat the steps
                       three more times. </p>
                </div>
                <form class="form-inline justify-content-center" id="form input">
                    <input id="start_btn" type="button" class="btn btn-primary mb-2" value="Start"></input>
                    <input id="end_btn" type="button" class="btn btn-danger mb-2" style="visibility: hidden" value="End"></input>
                </form>
            </div>
            <div class="col-lg-7" style="text-align: center" >
                <img src="/images/lungCapImage.jpg" class="img-fluid">
            </div>
        </div>
    </div><br/>

    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div style="height: 100%" class="card">
                    <h4 style="text-align: center" id="rr">0</h4>
                    <h4 style="text-align: center;">Respiratory Rate</h4>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body">
                        <canvas height="100" id="RespiratoryRateChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div><br/><br/>
</body>

</html>